<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <meta name="description" content="">
    <mata name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">    
</head>
<body>
    <h3>Welcome To Django</h3>
    <button type="submit">SignUp</button>
    <button type="submit">SignIn</button>
    <button type="submit">SignOut</button>

    <script src="" async defer></script>
</body>
</html>